---
eleventyNavigation:
  key: "AEW Timeline"
  order: 3
---
<h1 class="sr-only">AEW Timeline</h1>

<div class="pt-16 divide-y divide-dashed divide-[var(--color-decor)]">
  {% set aewData = collections.aew | sort(attribute='date') %}
  {% for entry in aewData %}
    <article class="
      py-12 sm:py-16 first:pt-0 
      prose prose-headings:font-nunito marker:text-current
      ">

      <h2>AEW {{ entry.show }} {{ entry.date }}</h2>

      {% for image in entry.images %}
        <img src="{{ image.src }}" alt="{{ image.alt }}" width="640px">
      {% endfor %}

      <ul class="not-prose flex flex-wrap gap-x-3 gap-y-5">
        {% for tag in entry.tags %}
          <li class="pl-0">
            <a href="/tags/{{ tag }}" class="tag no-underline">{{ tag }}</a>
          </li>
        {% endfor %}
      </ul>

    </article>
  {% endfor %}
</div>