---
eleventyNavigation:
  key: "Archive"
  order: 3
---
<h1 class="sr-only">Archive</h1>

<section class="mt-16">
  <h2 class="sr-only">Search</h2>
  <div class="relative">
    <div id="search" class="w-full"></div>
  </div>
  <script src="/pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', showImages: false });"></script>
</section>

<section class="mt-16">
  <h2 class="h1 mb-4">All Tags</h2>
  <ul class="flex flex-wrap gap-4">
    {# Combine tags from posts and snapshots collections #}
    {% set allTags = [] %}
    {% for post in collections.posts %}
      {% for tag in post.data.tags %}
        {% if not allTags.includes(tag) %}
          {% set allTags = allTags.concat([tag]) %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% for snapshot in collections.snapshots %}
      {% for tag in snapshot.data.tags %}
        {% if not allTags.includes(tag) %}
          {% set allTags = allTags.concat([tag]) %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    {# Filter and sort the tags #}
    {% for tag in allTags | filterTagList | sort %}
      {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
      <li><a href="{{ tagUrl }}" class="tag">{{ tag }}</a></li>
    {% endfor %}
  </ul>
</section>

<section class="mt-16 mb-8">
  <h2 class="h1 mb-4">All Posts</h2>
  {% set posts = collections.posts | filterTagList %}
  {% set showAuthor = true %}
  {% include "list-posts.njk" %}
</section>

<section class="mt-16 mb-8">
  <h2 class="h1 mb-4">All Snapshots</h2>
  {% set posts = collections.snapshots %}
  {% set showPromotion = true %}
  {% include "list-posts.njk" %}
</section>