---js
const eleventyNavigation = {
	key: "Archive",
	order: 2
};
---
<h1 class="text-2xl font-bold mb-8 pb-2 border-b border-sky-600">Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
