---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};
const permalink = "/";
const numberOfLatestPostsToShow = 2;
---
<h1 class="pb-8 mb-0 text-center font-nunito font-black">{{metadata.title}}</h1>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{# <p class="text-xs py-2 uppercase">Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}:</p> #}
<div class="divide-y">
	{%- for post in postslist | reverse %}
		<article class="pt-16 pb-4">
			<section class="prose-sm sm:prose">
				<a href="{{ post.url }}"><h1 class="inline">{{ post.data.title }}</h1></a>
				{{ post.templateContent | safe }}
			</section>
		</article>
	{%- endfor %}
</div>

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p class="border-dashed border-t pt-2 mt-8 mb-8">{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="archive.njk" class="font-bold hover:underline">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{# <ul class="mt-16 bg-sky-800/25 p-4 text-xs leading-loose">
	<li><code>* ALL CONTENT *</code></li>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}" class="hover:underline"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul> #}

