---
eleventyNavigation:
  key: Home
  order: 0
pagination:
  data: collections.combinedPosts
  size: 99
  alias: posts
  generatePageOnEmptyData: false
permalink: "{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% else %}{% endif %}index.html"
---

<h1>
  <span class="sr-only">WRESTLING BABY</span>
  {% svg "wb-txt.svg", "mt-16 pb-20 mb-16 mx-2 fill-[var(--color-accent)] border-b border-dashed border-[var(--color-decor)]" %}
</h1>

<div class="divide-y divide-dashed divide-[var(--color-decor)]">
  {% for post in posts %}
    {% include "content-post.njk" %}
  {% endfor %}
</div>

<div class="mb-16">
  {# Pagination Navigation #}
  {% set mode = "pagination" %}
  {% include "paginator.njk" %}
</div>