---
eleventyNavigation:
  key: Posts
  order: 1
---

<header class="pt-16 pb-16 not-prose">
  <h1 class="text-3xl sm:text-4xl font-bold font-nunito text-[var(--color-accent)]">Posts</h1>
</header>

<div class="divide-y divide-dashed divide-[var(--color-decor)]">
  {% for post in collections.posts | reverse %}
    {% include "content-post.njk" %}
  {% endfor %}
</div>