---
eleventyNavigation:
  key: Posts
  order: 1
---

<h1 class="sr-only">Posts</h1>

<section class="mt-16 divide-y divide-dashed divide-[var(--color-decor)]">
  {% for post in collections.posts | reverse %}
    {% include "content-post.njk" %}
  {% endfor %}
</section>