---
pagination:
  data: collections
  size: 1
  alias: tag
  filter: 
    - "all"
    - "posts"
permalink: /tags/{{ tag | slugify }}/
eleventyExcludeFromCollections: true
eleventyComputed:
  title: "Posts tagged '{{tag}}'"
---

<h1 class="mt-5 mb-16 text-sm w-full sm:w-auto font-sans">Posts tagged “{{ tag }}”</h1>

<div class="divide-y divide-dashed divide-[var(--color-decor)]">
  {% set taglist = collections[ tag ] %}
  {% for post in taglist | reverse %}
    {% include "postContent.njk" %}
  {% endfor %}
</div>

<p class="pt-2 mb-16 border-t border-dashed border-[var(--color-decor)]">See <a href="archive.njk" class="font-bold underline">all tags</a>.</p>
