<ol class="divide-dashed divide-y divide-sky-600">
{%- for post in postslist | reverse %}
	<li class="flex justify-between py-2">
		<a href="{{ post.url }}" class="font-bold hover:underline">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
		<time class="text-sky-700" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
	</li>
{%- endfor %}
</ol>
