<div class="divide-y">
	{%- for post in postslist | reverse %}
		<article class="pt-16 pb-4">
			<section class="prose-sm sm:prose">
				<a href="{{ post.url }}"><h1 class="inline">{{ post.data.title }}</h1></a>
				{{ post.templateContent | safe }}
			</section>
		</article>
	{%- endfor %}
</div>