<article class="
  py-12 sm:py-16 first:pt-0 
  prose prose-headings:font-nunito marker:text-current
  ">

  <h2><a class="
    text-[1.7rem] sm:text-3xl 
    decoration-[var(--color-decor)] hover:decoration-[var(--color-accent)] decoration-from-font
    font-bold
    " href="{{ post.url }}">{{ post.data.title }}</a></h2>

  {%- if "snapshot" in post.data.tags %}
    {% for image in post.data.images %}
      <img src="{{ image.src }}" alt="{{ image.alt }}" width="640px">
    {% endfor %}
  {%- else %}
    {{ post.content | safe }}
  {%- endif %}

  <ul class="not-prose flex flex-wrap gap-x-3 gap-y-5">
    {%- for tag in post.data.tags | filterTagList | sort %}
    {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <li class="pl-0">
      <a href="{{ tagUrl }}" class="tag no-underline">{{ tag }}</a>
    </li>
    {%- endfor %}
  </ul>

</article>