---
layout: base.njk
---

<article class="prose sm:prose-lg prose-headings:font-nunito marker:text-current" data-pagefind-body>

  <header class="pt-16 pb-16 not-prose">
    <h1 class="text-3xl sm:text-4xl font-bold font-nunito text-[var(--color-accent)]">{{ title }}</h1>
    <p class="mt-6 text-sm">{{ promotion }} {{ show }} &middot; <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate("LLLL dd, yyyy") }}</time></p>
  </header>

  {% for image in images %}
    <img src="{{ image.src }}" alt="{{ image.alt }}" width="640px">
  {% endfor %}

  {{ content | safe }}

  <aside class="mt-16 py-8 border-t border-dashed border-[var(--color-decor)]">
    {% include "list-tags.njk" %}
  </aside>

</article>

<footer class="mb-16">
  {% set mode = "snapshots" %}
  {% include "paginator.njk" %}
</footer>