---
layout: layouts/base.njk
---
<h1 class="text-2xl mb-4">{{ title }}</h1>

<ul class="flex items-end gap-4 mb-4">
	<li class="text-sm text-sky-900"><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{# {%- if not loop.last %}, {% endif %} #}</li>
	{%- endfor %}
</ul>

{{ content | safe }}

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="flex justify-between pt-2 mt-8 border-t border-sky-600">
	<li>{%- if previousPost %}<a class="hover:underline" href="{{ previousPost.url }}">{{ previousPost.data.title }}<br>← Previous</a>{% endif %}</li>
	<li class="text-right">{%- if nextPost %}<a class="hover:underline" href="{{ nextPost.url }}">Next →<br>{{ nextPost.data.title }}</a>{% endif %}</li>
</ul>
{%- endif %}
{%- endif %}
